<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
</head>
<body>
    <div id='box'>
       R: <input v-model='r' type="range"/><br>
       G: <input v-model='g' type="range"/><br>
       B: <input v-model='b' type="range"/><br>
       宽度 : <input v-model='w' type="number" step="5"><br>
       高度 : <input v-model='h' type="number"><br>
       <div v-bind:style="{width:w+'px',height:h+'px',background:'rgb('+r+','+g+','+b+')'}"></div>
    </div>
    <script>
        var vm = new Vue({
            el : '#box',
            data : {
                r : 0 ,
                g : 0 ,
                b : 0 ,
                w : 100 ,
                h : 100 ,
            }
        })
    
    </script>
</body>
</html>
